.elementor-506 .elementor-element.elementor-element-534888c .main-menu>ul>li>a:hover {
    color: #00eaff;
}

.elementor-506 .elementor-element.elementor-element-534888c .main-menu ul.sub-menu li a:before {
    color: #00eaff !important;
}

.elementor-506 .elementor-element.elementor-element-534888c .th_btn {
    background-color: #00eaff;
}